<div class="box-header p-9 px-4 font-bold pt-12">
    <div class="bg-gray-100 rounded-2xl mb-6">
        <div class="mx-2">
            <h1 class="text-4xl p-2 m-2 pt-5"><%= Settings %></h1>
            <label for="email" class="p-2 my-2 text-xl"><%= Email %></label><br>
            <input name="email" placeholder="me@email.com" type="text" class="w-full border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none" value="<%= user.personal.email %>">

            <button type="submit"
                class="p-2 my-2 bg-blue-500 text-white rounded-xl"><%= save_account_settings %></button>
        </div>
    </div>

    <div class="bg-gray-100 rounded-2xl mb-6">
        <h1 class="text-4xl p-2 m-2 pt-5 pl-4"><%= Developer %></h1>

        <% if(user.developer.developerEnabled == true) { %>

        <label for="create_org" class="p-2 m-2 text-xl"><%= Create_an_Organization %></label><br>
        <div class="mx-2 pb-2">
            <a href="/dev/new"
                class="p-2 bg-gray-100 text-blue-500 rounded-xl border-gray-300 border-2 text-left font-bold w-full block relative">
                <%= Create_an_Organization %>
            </a>
        </div>
        <label class="p-2 m-2 text-xl"><%= My_Organizations %></label><br>
        <% for(i=0; i < user.developer.organizations.length; i++) { %>
        <div class="bg-gray-200 p-2 m-2 rounded-xl font-bold">
            <a href="/dev/<%= user.developer.organizations[i] %>">
                <button
                    class="p-1 m-2 mr-0 bg-gray-100 text-blue-500 rounded-xl border-gray-300 border-2 text-left font-bold">
                    @<%= user.developer.organizations[i] %>
                </button>
            </a>
            <a href="/dev/<%= user.developer.organizations[i] %>/settings">
                <button
                    class="p-1 m-2 bg-gray-100 text-blue-500 rounded-xl border-gray-300 border-2 text-left font-bold float-right">
                    <%= Manage %>
                </button>
            </a>
        </div>
        <% } %>

        <div class="mx-2 pb-1">
            <a href="/account/settings/developer/toggle"
                class="p-2 bg-red-500 text-white rounded-xl border-red-700 border-2 text-left font-bold w-full block relative mb-2">
                <%= Disable_Developer_Access %>
            </a>
        </div>

        <% } else { %>

        <div class="mx-2 pb-2">
            <a href="/account/settings/developer/toggle"
                class="p-2 bg-gray-100 text-blue-500 rounded-xl border-gray-300 border-2 text-left font-bold w-full block relative">
                <%= Enable_Developer_Access %>
            </a>
        </div>

        <% } %>
    </div>

    <div class="bg-gray-100 rounded-2xl mb-6">
        <div class="m-2">
            <h1 class="text-4xl p-2 m-2 pt-5"><%= Meta %></h1>
            <label for="password" class="mt-2 p-2 text-xl"><%= Password %> (<%= encrypted %>)</label><br>
            <input name="password" type="text"
                class="p-2 mb-2 focus:outline-none rounded-xl border-2 border-gray w-full"
                value="<%= user.personal.password %>" disabled><br>
            <label for="creationDate" class="mt-2 p-2 text-xl"><%= Account_Creation_Date %></label><br>
            <input name="creationDate" type="text"
                class="p-2 mb-2 focus:outline-none rounded-xl border-2 border-gray w-full"
                value="<%= user.meta.creationDate %>" disabled><br>
            <label for="staff" class="mt-2 p-2 text-xl"><%= Staff %></label><br>
            <input name="staff" type="text" class="p-2 mb-2 focus:outline-none rounded-xl border-2 border-gray w-full"
                value="<%= user.meta.staff %>" disabled><br>
        </div>
    </div>

    <div class="bg-red-200 rounded-2xl mb-6 border-2 border-red-500">
        <div class="m-2">
            <h1 class="text-4xl p-2 m-2 pt-5"><%= Danger_Zone %></h1>
            <p class="mt-2 p-2 text-xl font-normal">
                <%= This_will_be_enabled_in_a_future_release_If_you_want_your_account_deleted_please %> <a
                    href="mailto:support@bettermacstore.com" title="support@bettermacstore.com"
                    class="text-blue-600"><%= email_us %></a>.</p>
        </div>
    </div>
</div>