<div class="box-header p-9 px-4 font-bold pt-12">
    <h1 class="text-3xl font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3">
        <%= Donate %>
    </h1>
    <div class="font-normal">
        <span>
            <%= I_run_this_site_off_of_pocket_funds_donations_really_help_me %>
            <%= You_dont_have_to_donate_but_every_penny_means_a_lot %>
            <%= If_you_are_a_corperation_and_want_advertising_for_donations_please_just_email_me_personally %>
            jude@alecw.net
        </span>
    </div><br>
    <div class="font-normal">
        <span>
            <p>
                <%= Bitcoin %>:
            </p>
            <input value="bc1qjfe239yrr0qprg8tz8gtzsvxujk0pp465y4u4y" disabled aria-disabled="true"
                class="bg-gray-200 text-black p-1 rounded w-full">
        </span><br><br>
        <span>
            <p>
                <%= Ethereum %>:
            </p>
            <input value="0x439FC978639D9b0d1b11b869b92889cD004E0fA2" disabled aria-disabled="true"
                class="bg-gray-200 text-black p-1 rounded w-full">
        </span><br><br>
        <span>
            <p>
                <%= Nano %>:
            </p>
            <input value="nano_1dh9tyge6daq394ha95owyjas454uuzfcnagr7jjn44sr4853srmzzssr49m" disabled
                aria-disabled="true" class="bg-gray-200 text-black p-1 rounded w-full">
        </span><br><br>
        <span>
            <p>
                <%= Litecoin %>:
            </p>
            <input value="ltc1qglc620uem04l6xjkjr3ncften3dleqhd757e08" disabled aria-disabled="true"
                class="bg-gray-200 text-black p-1 rounded w-full">
        </span><br><br>
        <span>
            <p>
                <%= Basic_Attention_Token %>:
            </p>
            <input value="0x439FC978639D9b0d1b11b869b92889cD004E0fA2" disabled aria-disabled="true"
                class="bg-gray-200 text-black p-1 rounded w-full">
        </span>
    </div>
</div>