<div class="box-header p-9 px-4 font-bold pt-12">
    <h1 class="text-3xl font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3">
        <%= Today_is %> <%= February %> <span class="ordinal">19th</span>, <%= Welcome %>
    </h1>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-header p-3 px-4 font-bold pb-0">
                <h1
                    class="text-2xl font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3 pb-0 text-gray-600">
                    <%= Today %>
                </h1>
            </div>
            <div>
                <div class="w-full mb-12">
                    <div class="m-3 bg-gray-200 rounded-2xl p-3 px-5 shadow-xl atv">
                        <h1 class="text-2xl font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3">
                            This is a post title 2/4.
                        </h1>
                        <p class="text-normal font-sans subpixel-antialiased diagonal-fractions py-2 px-1 text-justify">
                            Hello, this is a post description that you can read. Hello, this is a post description that
                            you
                            can read. Hello, this is a post description that you can read. Hello, this is a post
                            description
                            that you can read. Hello, this is a post description that you can read. Hello, this is a
                            post
                            description that you can read. Hello, this is a post description that you can read.
                            Hello, this is a post description that you can read. Hello, this is a post description that
                            you
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-full mb-12">
                <div class="m-3 bg-gray-600 rounded-2xl p-3 px-5 shadow-xl text-white shadow-2xl">
                    <h1
                        class="text-2xl font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3 pb-0 pt-4">
                        <img src="/img/_logo.png" class="w-12 float-left rounded mt-0.5">
                        <span class="pl-3"><a href="/app/9743920">Visual Studio Code</a></span>
                        <div
                            class="float-right bg-blue-600 rounded-2xl p-1 px-3 pt-1.5 text-sm uppercase font-bold cursor-pointer shadow-2xl">
                            <a href="/app/9743920/download/latest" download><%= Download %></a>
                        </div>
                    </h1>
                    <h4 class="text-xs font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3 pt-0 mb-2">
                        <span class="pl-3"><a href="/dev/microsoft" class="hover:underline">Microsoft</a></span>
                        <div class="float-right rounded-2xl p-1 px-3 pt-1.5 text-xsm uppercase">
                            Free
                        </div>
                    </h4>
                </div>
            </div>
            <div>
                <div class="w-full mb-12">
                    <div class="m-3 bg-gray-200 rounded-2xl p-3 px-5 shadow-xl atv">
                        <h1 class="text-2xl font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3">
                            This is a post title 2/4.
                        </h1>
                        <p class="text-normal font-sans subpixel-antialiased diagonal-fractions py-2 px-1 text-justify">
                            Hello, this is a post description that you can read. Hello, this is a post description that
                            you
                            can read. Hello, this is a post description that you can read. Hello, this is a post
                            description
                            that you can read. Hello, this is a post description that you can read. Hello, this is a
                            post
                            description that you can read. Hello, this is a post description that you can read.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-header p-3 px-4 font-bold pb-0">
                <h1
                    class="text-2xl font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3 pb-0 text-gray-600">
                    <%= Yesterday %>, February <span class="ordinal">7th</span>
                </h1>
            </div>
            <div>
                <div class="w-full mb-12">
                    <div class="m-3 bg-gray-200 rounded-2xl p-3 px-5 shadow-xl atv">
                        <h1 class="text-2xl font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3">
                            This is a post title 2/4.
                        </h1>
                        <p class="text-normal font-sans subpixel-antialiased diagonal-fractions py-2 px-1 text-justify">
                            Hello, this is a post description that you can read. Hello, this is a post description that
                            you
                            can read. Hello, this is a post description that you can read. Hello, this is a post
                            description
                            that you can read. Hello, this is a post description that you can read. Hello, this is a
                            post
                            description that you can read. Hello, this is a post description that you can read.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="w-full mb-12">
                    <div class="m-3 bg-gray-200 rounded-2xl p-3 px-5 shadow-xl atv">
                        <h1 class="text-2xl font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3">
                            This is a post title 2/4.
                        </h1>
                        <p class="text-normal font-sans subpixel-antialiased diagonal-fractions py-2 px-1 text-justify">
                            Hello, this is a post description that you can read. Hello, this is a post description that
                            you
                            can read. Hello, this is a post description that you can read. Hello, this is a post
                            description
                            that you can read. Hello, this is a post description that you can read. Hello, this is a
                            post
                            description that you can read. Hello, this is a post description that you can read.
                            Hello, this is a post description that you can read. Hello, this is a post description that
                            you
                            can read. Hello, this is a post description that you can read. Hello, this is a post
                            description
                            that you can read. Hello, this is a post description that you can read. Hello, this is a
                            post
                            description that you can read. Hello, this is a post description that you can read.
                            Hello, this is a post description that you can read. Hello, this is a post description that
                            you
                            can read. Hello, this is a post description that you can read. Hello, this is a post
                            description
                            that you can read. Hello, this is a post description that you can read. Hello, this is a
                            post
                            description that you can read. Hello, this is a post description that you can read.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    pivot.init({
        selector: '.atv',
    });
</script>