<div class="box-header p-9 px-4 font-bold pt-12">
    <h2 class="text-2xl">Results for "<i><%= search %></i>"</h2>
    <form action="/search" method="GET">
        <div class="grid grid-cols-10 mt-3">
            <span class="col-span-8">
                <input name="q" id="q" placeholder="Your search term..." value="<%= search %>" autofocus
                    autocomplete="off" class="w-full bg-gray-200 text-black p-1 pl-2 rounded-lg">
            </span>
            <span class="col-span-2 pl-3">
                <span class="">
                    <button type="submit"
                        class="bg-blue-500 text-white px-4 rounded-lg text-lg p-0.5 w-full">search</button>
                </span>
            </span>
        </div>
    </form>
    <% for(i=0; i < apps.length; i++) { %>
    <div class="w-full mt-6">
        <div class="bg-gray-200 rounded-2xl p-3 px-5 shadow-xl text-black shadow-2xl">
            <h1 class="text-2xl font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3 pb-0 pt-4">
                <img src="/img/bruggg_logo.png" class="w-12 float-left rounded mt-0.5">
                <span class="pl-3"><a href="/app/<%= apps[i].unique.appId %>"><%= apps[i].meta.name %></a></span>
                <div
                    class="float-right bg-blue-600 rounded-2xl p-1 px-3 pt-1.5 text-sm uppercase font-bold cursor-pointer shadow-2xl text-white">
                    <a href="/app/9743920/download/latest" download><%= Download %></a>
                </div>
            </h1>
            <h4
                class="text-xs font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3 pt-0 mb-2 text-gray-700">
                <span class="pl-3"><a href="/dev/rd/<%= apps[i].meta.developer %>"
                        class="hover:underline"><%= apps[i].meta.developer %></a></span>
                <div class="float-right rounded-2xl p-1 px-3 pt-1.5 text-xsm uppercase">
                    <%= Free %>
                </div>
            </h4>
        </div>
    </div>
    <% } %>
    <% if(apps.length == 0) { %>
    <p class="text-center w-full mt-12 font-normal">There are no apps for that term</p>
    <% } %>
</div>