<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<link rel="stylesheet" href="/css/marked.css">
<main class="mx-2 m-4 mx-6">
    <div class="box-header p-9 px-4 font-bold pt-12">
        <img src="https://avatar.oxro.io/avatar.svg?name=microsoft&bold=true&random=0.936972602081632"
            class="inline w-12 rounded-2xl border-black float-left mt-4 pt-0.5">
        <div class="ml-2 inline-block">
            <h1 class="text-2xl font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3 pb-0">
                <%= app.meta.name %>
                <a href="/app/<%= app.unique.appId %>/download/latest"
                    class="absolute right-16 text-sm mt-5 bg-blue-600 rounded-2xl p-1 px-3 pt-1.5 text-sm uppercase font-bold cursor-pointer shadow-2xl text-white"
                    download><%= Download %></a>
            </h1>
            <p class="text-gray-500 pt-0">
                <!--
            
            Microsoft, inc.
            
            -->






                <span class="pr-1 pr-0 text-gray-300 text-xs"><%= by %></span>
                <a href="/dev/<%= app.meta.developer %>" class="hover:underline">
                    <span class="text-gray-500"><%= app.meta.developer %></span>
                </a>
                <span class="pr-1 pl-4 pr-0 text-gray-300 text-xs">V</span>
                <a href="mailto:support@micro.soft.com" class="hover:underline">
                    <span class="text-gray-500"><%= releases[0].version %></span>
                </a>
            </p>
        </div>
        <hr class="mt-2 mb-6">
        <div id="apps mt-3">
            <h2 class="text-2xl"><%= Preview %></h2>
            <h2 class="text-2xl"><%= Description %></h2>
            <p class="ml-2 mt-2 font-normal" id="desc"></p>
            <h2 class="text-2xl"><%= Releases %></h2>
            <% for(i=0; i < releases.length; i ++) { %>
            <div class="p-6 bg-gray-100 rounded-2xl">
                <h2 class="text-md"><%= releases[i].title %>
                    <a href="/app/<%= app.unique.appId %>/download/<%= releases[i]._id %>"
                        class="absolute right-20 text-sm mt-0 bg-blue-600 rounded-2xl p-1 px-3 pt-1.5 text-sm uppercase font-bold cursor-pointer shadow-2xl text-white"
                        download><%= download_this_version %></a></h2>
                <p class="font-normal text-xs text-gray-600"><%= Version %> <%= releases[i].version %></p>
                <p class="font-normal text-sm"><%= releases[i].description %></p>
            </div>
            <% } %>
        </div>
    </div>
</main>

<script>
    var desc = `<%= app.meta.description %>`

    desc = desc.replace(/(?:\r\n|\r|\n)/g, '<br>');

    document.getElementById('desc').innerHTML = desc + '<br><br>'
</script>

<%= app %>
<br>
<br>
<%= releases[0] %>
<br>
<br>
<%= screenshots %>
<br>
<br>
<%= icon %>