<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<link rel="stylesheet" href="/css/marked.css">
<main class="mx-2 m-4 mx-6">
    <div class="box-header p-9 px-4 font-bold pt-12">
        <img src="https://avatar.oxro.io/avatar.svg?name=<%= app.meta.name %>&bold=true&random=<%= Math.random() %>"
            class="inline w-12 rounded-2xl border-black float-left mt-4 pt-0.5">
        <div class="ml-2 inline-block">
            <h1 class="text-2xl font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3 pb-0">
                <%= app.meta.name %>
                <a href="/app/<%= app.unique.appId %>/download/latest/<%= app.meta.name %>.app.zip"
                    class="absolute right-16 text-sm mt-5 bg-blue-600 rounded-2xl p-1 px-3 pt-1.5 uppercase font-bold cursor-pointer shadow-2xl text-white"
                    download><%= Download %></a>
            </h1>
            <p class="text-gray-500 pt-0">
                <span class="pr-1 pr-0 text-gray-300 text-xs"><%= by %></span>
                <a href="/dev/<%= app.meta.developer %>" class="hover:underline">
                    <span class="text-gray-500"><%= app.meta.developer %></span>
                </a>
                <span class="pr-1 pl-4 pr-0 text-gray-300 text-xs">V</span>
                <a href="#releases" class="hover:underline">
                    <span class="text-gray-500"><%= releases[0].version %></span>
                </a>
            </p>
        </div>
        <hr class="mt-2 mb-6">
        <div id="apps mt-3">
            <h2 class="text-2xl"><%= Preview %></h2>
            <div class="overflow-x-scroll no-scroll-bars">
                <div class=" min-w-max">
                    <% for(i=0; i < screenshots.length; i ++) { %>
                    <div class="inline-block cursor-pointer" onclick="zoomScreenshot('<%= screenshots[i].url %>')">
                        <img src="<%= screenshots[i].url %>" class=" mx-3 rounded-lg shadow-lg h-48">
                    </div>
                    <% } %>
                </div>
            </div>
            <h2 class="text-2xl mt-3"><%= Description %></h2>
            <p class="mt-2 font-normal max-h-60 overflow-y-scroll p-6 bg-gray-100 rounded-lg" id="desc">
                <%= app.meta.description %>
            </p>
            <h2 class="text-2xl mb-2 mt-3" id="releases"><%= Releases %></h2>
            <% for(i=0; i < releases.length; i ++) { %>
            <div class="p-6 bg-gray-100 rounded-2xl relative">
                <h2 class="text-md"><%= releases[i].title %>
                    <a href="/app/<%= app.unique.appId %>/download/<%= releases[i]._id %>/<%= app.meta.name %>.app.zip"
                        class="absolute right-4 mt-0 bg-blue-600 rounded-2xl p-1 px-3 pt-1.5 text-sm uppercase font-bold cursor-pointer shadow-2xl text-white"
                        download><%= download_this_version %></a>
                    <button onclick="moreDownloads()"
                        class="absolute right-4 top-12 mt-0 rounded-2xl p-1 px-3 pt-1.5 text-sm cursor-pointer shadow-2xl text-blue-600"><%= more_downloads %></button>
                </h2>
                <p class="font-normal text-xs text-gray-600"><%= Version %> <%= releases[i].version %></p>
                <p class="font-normal text-sm"><%= releases[i].description %></p>
            </div>
            <% } %>
        </div>
    </div>
</main>
<div id="more_downloads_popup" class="fixed h-screen w-screen flex top-0 left-0 hidden">
    <div class="max-w-xl max-h-96 h-full w-full bg-gray-100 m-auto relative shadow-2xl rounded-xl">
        <h1 class="capitalize font-bold text-xl pl-4 pt-2 w-full"><%= more_downloads %></h1>
        <span class="right-3 top-2 absolute cursor-pointer" onclick="moreDownloads()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path
                    d="M9.036 7.976a.75.75 0 00-1.06 1.06L10.939 12l-2.963 2.963a.75.75 0 101.06 1.06L12 13.06l2.963 2.964a.75.75 0 001.061-1.06L13.061 12l2.963-2.964a.75.75 0 10-1.06-1.06L12 10.939 9.036 7.976z">
                </path>
                <path fill-rule="evenodd"
                    d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z">
                </path>
            </svg>
        </span>
        <div class="w-full h-5/6 overflow-y-scroll mt-3">
            <% for(i=0; i < releases.length; i ++) { %>
            <div class="p-3 bg-gray-200 rounded-2xl relative font-bold mx-2 my-2">
                <h2 class="text-md"><%= releases[i].title %>
                    <a href="/app/<%= app.unique.appId %>/download/<%= releases[i]._id %>/<%= app.meta.name %>.app"
                        class="absolute right-4 mt-0 pt-1.5 text-sm font-normal cursor-pointer shadow-2xl text-blue-600"
                        download><%= download_app_version %></a>
                    <a href="/app/<%= app.unique.appId %>/download/<%= releases[i]._id %>/<%= app.meta.name %>.app.zip"
                        class="absolute right-4 mt-5 pt-1.5 text-sm font-normal cursor-pointer shadow-2xl text-blue-600"
                        download><%= download_zip_version %></a>
                    <% if(releases[i].binaries.dmg) { %>
                    <a href="/app/<%= app.unique.appId %>/download/<%= releases[i]._id %>/<%= app.meta.name %>.dmg"
                        class="absolute right-4 mt-10 pt-1.5 text-sm font-normal cursor-pointer shadow-2xl text-blue-600"
                        download><%= download_dmg_version %></a>
                    <% } %>
                </h2>
                <p class="font-normal text-xs text-gray-600"><%= Version %> <%= releases[i].version %></p>
                <br>
                <p class="font-normal text-sm"><%= releases[i].description %></p>
            </div>
            <% } %>
        </div>
    </div>
</div>

<script>
    function moreDownloads() {
        document.getElementById('more_downloads_popup').classList.toggle('hidden')
    }

    var desc = `<%= app.meta.description %>`
    desc = desc.replace(/(?:\r\n|\r|\n)/g, '<br>');
    document.getElementById('desc').innerHTML = desc + '<br>'
</script>

<%= app %>
<br>
<br>
<%= releases[0] %>
<br>
<br>
<%= screenshots %>
<br>
<br>
<%= icon %>