<div class="box-header p-9 px-4 font-bold pt-12">
    <h1 class="text-3xl font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3 pb-0">
        <%= Release_an_App %>
    </h1>
    <p class="text-gray-500 pt-0"><span class="px-4 text-gray-200 pl-0">/</span>app<span
            class="px-4 text-gray-200">/</span>new
    </p>
    <form action="/app/new" method="POST" enctype="multipart/form-data">
        <div class="w-full bg-gray-100 mt-8 p-6 rounded-xl font-normal">

            <h1 class="text-2xl font-bold"><%= General_Information %></h1><br>



            <label for="org" class="text-xl"><%= Organization %> <span class="text-red-600">*</span></label><br>
            <p class="text-sm"><%= You_can_transfer_apps_to_other_organizations_or_accounts %>.</p>
            <div class="relative inline-flex">
                <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 412 232">
                    <path
                        d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z"
                        fill="#648299" fill-rule="nonzero" /></svg>
                <select id="org" name="org" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                     hover:border-gray-400 focus:outline-none appearance-none">
                    <option value="me"><%= Personal_Account %></option>
                    <% for(i=0; i < user.developer.organizations.length; i++) { %>
                    <option value="<%= user.developer.organizations[i] %>">@<%= user.developer.organizations[i] %>
                    </option>
                    <% } %>
                </select>
            </div><br><br>



            <label for="name" class="text-xl"><%= App_Name %> <span class="text-red-600">*</span></label><br>
            <p class="text-sm"><%= This_can_be_changed_later %>.</p>
            <input name="name" id="name" type="text" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none" required><br><br>



            <label for="copy" class="text-xl"><%= Copyright_Year %> <span class="text-red-600">*</span></label><br>
            <p class="text-sm"><%= This_can_be_changed_later %>.
                <%- use_icurrenti_for_it_to_always_be_the_current_year %>
            </p>
            <input name="copy" id="copy" type="text" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none" required><br><br>



            <label for="website" class="text-xl"><%= Website %></label><br>
            <p class="text-sm"><%= Optional_changeable %></p>
            <input name="website" id="website" type="url" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none"><br><br>



            <label for="description" class="text-xl"><%= Description %> <span class="text-red-600">*</span></label><br>
            <p class="text-sm"><%= Required_changeable %>
            </p>
            <textarea name="description" id="description" type="text" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none" required></textarea><br><br>



            <label for="license" class="text-xl"><%= License %></label><br>
            <p class="text-sm"><%= Optional_changeable %> <%= This_is_mostly_used_for_open_source_projects %></p>
            <input name="license" id="license" type="text" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none"><br><br>



            <label for="repo" class="text-xl"><%= Repository %></label><br>
            <p class="text-sm"><%= Optional_changeable %>
                <%= This_is_normally_a_GitHub_link_or_another_git_scm_instance %>
            </p>
            <input name="repo" id="repo" type="url" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none"><br><br>



            <label for="repo" class="text-xl"><%= Tags %></label><br>
            <p class="text-sm"><%= Optional_changeable %> <%= Seperate_tags_by_commas %>. <%= Spaces_are_allowed %>.
                <%= Recommended_because_tags_are_heavily_weighted_in_search %>.</p>
            <input name="tags" id="tags" type="text" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none"><br><br>



            <label for="repo" class="text-xl"><%= Category %></label><br>
            <p class="text-sm"><%= Optional_changeable %></p>
            <select name="category" id="category" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none">
                <option value="1">Books</option>
                <option value="2">Business</option>
                <option value="3">Developer Tools</option>
                <option value="4">Education</option>
                <option value="5">Entertainment</option>
                <option value="6">Finance</option>
                <option value="7">Food & Drink</option>
                <option value="8">Games</option>
                <option value="9">Graphics & Design</option>
                <option value="10">Health & Fitness</option>
                <option value="11">Lifestyle</option>
                <option value="12">Kids</option>
                <option value="13">Magazines & Newspapers</option>
                <option value="14">Medical</option>
                <option value="15">Music</option>
                <option value="16">Navigation</option>
                <option value="17">News</option>
                <option value="18">Photo & Video</option>
                <option value="19">Productivity</option>
                <option value="20">Reference</option>
                <option value="21">Safari Extension</option>
                <option value="22">Shopping</option>
                <option value="23">Social Networking</option>
                <option value="24">Sports</option>
                <option value="25">Travel</option>
                <option value="26">Utilities</option>
                <option value="27">Weather</option>
            </select><br><br>



            <h1 class="text-2xl font-bold"><%= Legal %></h1><br>



            <label for="privacy" class="text-xl"><%= Privacy_Policy %> <span class="text-red-600">*</span></label><br>
            <p class="text-sm"><%= Required_changeable %></p>
            <input name="privacy" id="privacy" type="url" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none" required><br><br>



            <label for="terms" class="text-xl"><%= Terms_of_Service %></label><br>
            <p class="text-sm"><%= Optional_changeable %></p>
            <input name="terms" id="terms" type="url" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none"><br><br>



            <label for="gdpr" class="text-xl"><%= GDPR_Policies %></label><br>
            <p class="text-sm"><%= Optional_changeable %></p>
            <input name="gdpr" id="gdpr" type="url" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none"><br><br>



            <h1 class="text-2xl font-bold"><%= Other_Stores %></h1><br>



            <label for="apple" class="text-xl"><%= Apple_App_Store_URL %></label><br>
            <p class="text-sm"><%= This_will_be_public %>. <%= This_can_be_changed_later %>.</p>
            <input name="apple" id="apple" type="url" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none"><br><br>



            <h1 class="text-2xl font-bold"><%= Images %></h1><br>



            <label for="icon" class="text-xl"><%= App_Icon %> <span class="text-red-600">*</span></label><br>
            <p class="text-sm"><%= Required_changeable %> <%= This_can_be_a_png_jpeg_or_gif %>
                <%= Gifs_will_play_on_hover %>
                <%= _512px_by_512px_recommended %></p>
            <input name="icon" id="icon" type="file" accept="image/gif, image/jpeg, image/png" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none" required><br><br>



            <label for="screenshots" class="text-xl"><%= Screenshots %> <span class="text-red-600">*</span></label><br>
            <p class="text-sm"><%= Required_changeable %> <%= This_can_be_a_png_jpeg_or_gif %>
                <%= Gifs_will_constantly_play %> <%= Full_initial_size_recommended %></p>
            <input name="screenshots" id="screenshots" type="file" accept="image/gif, image/jpeg, image/png" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none" required multiple><br><br>



            <h1 class="text-2xl font-bold"><%= Binaries %></h1>
            <p class="text-sm"><%= The_app_and_zip_files_are_required %>
                <%= If_a_dmg_file_is_provided_it_will_be_the_default_download %>
                <%= Otherwise_the_app_file_will_be_default %>
                <%= If_more_than_one_option_is_provided_the_downloader_will_be_able_to_choose %></p><br>



            <label for="app" class="text-xl"><%= app_File %> <span class="text-red-600">*</span></label><br>
            <p class="text-sm"><%= Required_changeable %></p>
            <input name="app" id="app" type="file" accept=".app" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none" required><br><br>



            <label for="zip" class="text-xl"><%= zip_File %> <span class="text-red-600">*</span></label><br>
            <p class="text-sm"><%= Required_changeable %></p>
            <input name="zip" id="zip" type="file" accept=".zip" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none" required><br><br>



            <label for="dmg" class="text-xl"><%= dmg_File %></label><br>
            <p class="text-sm"><%= Optional_changeable %> <%= This_will_be_the_default_download_option_if_provided %>
            </p>
            <input name="dmg" id="dmg" type="file" accept=".dmg" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none"><br><br>



            <h1 class="text-2xl font-bold"><%= First_Release %></h1>
            <p class="text-sm"><%= This_will_show_up_as_the_first_release %>
                <%= The_above_uploaded_binaries_will_be_considered_part_of_the_first_release %></p><br>



            <label for="version" class="text-xl"><%= Release_Version %> <span class="text-red-600">*</span></label><br>
            <p class="text-sm"><%= Required_not_changeable %> (<%= you_will_be_able_to_make_more_releases %>,
                <%= formatting_options %>
                [0-9\.]*)</p>
            <input name="version" id="version" type="text" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none" required pattern="^[0-9\.]*$"><br><br>



            <label for="title" class="text-xl"><%= Release_Title %></label><br>
            <p class="text-sm"><%= Optional_not_changeable %> (<%= you_will_be_able_to_make_more_releases %>;
                <%= if_not_specified_the_title_will_be %> "v{{release_version}}")</p>
            <input name="title" id="title" type="text" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none" required><br><br>



            <label for="notes" class="text-xl"><%= Release_Notes %> <span class="text-red-600">*</span></label><br>
            <p class="text-sm"><%= Required_not_changeable %> (<%= you_will_be_able_to_make_more_releases %>)</p>
            <textarea name="notes" id="notes" type="text" class="w-full border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-5 bg-white
                hover:border-gray-400 focus:outline-none appearance-none" required></textarea><br><br>



            <button class="bg-blue-600 px-8 py-2 text-white rounded-2xl shadow-xl" type="submit">
                <%= Release_App %>
            </button><br>
            <p class="text-sm py-2 px-2 pt-0 text-gray-600"><%= This_might_lag_your_computer_binaries_can_be_big %></p>
        </div>
    </form>
</div>