<div class="box-header p-9 px-4 font-bold pt-12" id="top">
    <h1 class="text-3xl font-sans subpixel-antialiased diagonal-fractions tracking-wider py-3 capitalize">
        <%= name %> <%= documentation %>
    </h1>
</div>
<div class="mx-6">
    <div class="bg-gray-200 rounded-lg border border-gray-800">
        <div class="mx-2 my-2">
            <h3 class="capitalize cursor-pointer font-bold" id="dev_expand"><%= documentation %><span
                    class="float-right mr-2" id="toggle_indicator_closed">▲</span><span class="float-right mr-2 hidden"
                    id="toggle_indicator_open">▼</span></h3>
            <div class="hidden" id="toc_content">
                <ul class="ml-6 list-disc">
                    <li class="capitalize"><a class="text-blue-600 hover:underline"
                            href="#<%= organizations %>"><%= organizations %></a>
                    </li>
                    <ul class="ml-6  list-disc">
                        <li class="capitalize"><a class="text-blue-600 hover:underline"
                                href="#<%= creating_organizations %>"><%= creating_organizations %></a>
                        </li>
                    </ul>
                    <li>.......</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mt-6 mb-12">
        <div>
            <h3 class="font-bold text-2xl capitalize" id="<%= organizations %>"><%= organizations %> <a
                    class="text-sm text-blue-600" href="#top">▲
                    <%= top %></a>
            </h3>
            <p><%= Organizations_are_an_easy_way_to_release_apps_for_comapanies_nonprofits_and_more %>
                <%= These_organizations_are_easy_to_create_follow_the_steps_below_for_more_information %></p>
            <div class="mx-6 mt-2">
                <h3 class="font-bold text-xl capitalize" id="<%= creating_organizations %>">
                    <%= creating_organizations %> <a class="text-sm text-blue-600" href="#top">▲
                        <%= top %></a>
                </h3>
                <p><%=  Creating_organizations_is_rather_easy  %>
                    <%=  You_can_do_this_by_pressing_the_dropdown_in_the_top_right  %>
                    <%=  Then_select  %> "<span><%= Settings %></span>", <%=  when_in_settings_press  %>
                    "<span><%= Create_an_Organization %></span>".
                    <%=  Lastly_you_can_go_through_the_steps_of_creating_an_organization  %></p>
            </div>
        </div>
    </div>
</div>
<script src="/js/docs.js"></script>